<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        img{
            height:85vh;
            width:85vw;
        }
    </style>
    <title>Home</title>
</head>
<body>
    <main>
        <h1>You Are Authorized To Acsess</h1>
        <img src="DBZ.jpg" alt="image" />
    </main>
</body>
</html>