<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{
            text-align: center;
        }
        h3{
            text-align: center;
        }
        a{
            text-decoration:none;
            color:green;
            font-size: 30px;
        }
        span{
            font-size: 30px;   
        }
        div{
            text-align: center;
        }
    </style>
    <title>Home</title>
</head>
<body>
    <main>
        <h1>This is a Welcome Page</h1>
        <h3>To Get Token Please visit http://localhost:8000/token</h3>
        <div><span>Or Click Me:-  <a href="http://localhost:8000/token">Generate Token</a></span></div>
    </main>
</body>
</html>